/* CSS declarations go here */
#login-buttons {
  display: block;
}
.toggleArmed { /*Space the form not the toggle.*/
  margin-top:10px;
}
li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

div.status {
    width: 40%;
    text-align: center;
    font-weight: bold;
}

div.frontDoor {
    position: absolute;
    top: 630px;
    left: 255px;
    text-align: center;
}
div.switch01 {
    position: absolute;
    top: 120px;
    left: 298px;
    text-align: center;
}
div.socket00 {
    position: absolute;
    top: 375px;
    left: 50px;
    text-align: center;
    transform: rotate(-90deg);
}
div.outlet00 {
    position: absolute;
    top: 510px;
    left: 110px;
    text-align: center;
}
div.outlet01 {
    position: absolute;
    top: 600px;
    left: 115px;
    text-align: center;
}
div.outlet10 {
    position: absolute;
    top: 285px;
    left: 50px;
    text-align: center;
    transform: rotate(-90deg);
}
div.outlet20 {
    position: absolute;
    top: 650px;
    left: 350px;
    text-align: center;
}
div.outlet80 {
    position: absolute;
    top: 250px;
    left: 500px;
    text-align: center;
}
div.outlet81 {
    position: absolute;
    top: 275px;
    left: 500px;
    text-align: center;
}
